In [90]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [91]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
row_index=list(zip(outside,inside))
row_index=pd.MultiIndex.from_tuples(row_index)

In [92]:
row_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [93]:
df=pd.DataFrame(randn(6,2),row_index,['A','B'])

In [94]:
df

             A         B
G1 1 -0.159213 -0.109434
   2  2.370539  0.079492
   3 -1.115480 -1.473959
G2 1  1.784248  0.242493
   2 -1.769683  0.501524
   3 -1.477443 -0.687336

In [95]:
df.index.names = ['Game','Num']

In [96]:
df

                 A         B
Game Num
G1   1   -0.159213 -0.109434
     2    2.370539  0.079492
     3   -1.115480 -1.473959
G2   1    1.784248  0.242493
     2   -1.769683  0.501524
     3   -1.477443 -0.687336

In [97]:
df.loc['G1']

            A         B
Num
1   -0.159213 -0.109434
2    2.370539  0.079492
3   -1.115480 -1.473959

In [98]:
df.loc['G1'].loc[2]['A']

2.3705385085834014

In [99]:
df.xs(1,level='Num')

             A         B
Game
G1   -0.159213 -0.109434
G2    1.784248  0.242493